/* # RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* # UTILS */
.container {
	margin: 0 auto;
	width: 1200px;
	max-width: 100%;
}

/* DEBUG */
.debug {
	background-color: #ddfcad;
	border: 1px dashed black;
}

.debug .debug {
	background-color: #c8e087;
}

.debug .debug .debug {
	background-color: #95a472;
}

.debug .debug .debug .debug {
	background-color: #82846d;
	color: white;
}

.debug .debug .debug .debug .debug {
	background-color: #646165;
}

.debug .debug .debug .debug .debug .debug {
	background-color: #454545;
}
.debug .debug .debug .debug .debug .debug .debug {
	background-color: #292929;
}

/* HEADER */
.header-box {
	display: flex;
	justify-content: space-between;
	margin-block: 20px;
}

nav > ul > li {
	display: inline-block;
}

nav > ul {
	text-align: center;
}

.login-box {
	text-align: end;
}

.logo-box,
.link-box,
.login-box {
	padding: 10px;
}

.link-box {
	flex-grow: 2;
}

.logo-box,
.login-box {
	flex-grow: 1;
}

/* HERO */
.hero-container {
	height: 400px;
	max-width: 900px;
	margin: auto;
	margin-block: 40px;
}

/* MAIN */
.lg-content,
.sm-content {
	height: 500px;
	margin-block: 50px;
}

.lg-content {
	flex-grow: 2;
}

.sm-content {
	flex-grow: 1;
}

.content-box {
	display: flex;
}

.section-box {
	width: 100%;
}

.section-box:nth-child(even) {
	background-color: lightblue;
	flex-direction: row-reverse;
}

.section-box:nth-child(even) .content-box {
	flex-direction: row-reverse;
}

.only-content {
	height: 700px;
	width: 100%;
	margin-block: 50px;
}

/* FOOTER */
.main-content-footer {
	display: flex;
	margin-block: 50px;
}

.sm-content-footer {
	flex-grow: 1;
}
.lg-content-footer {
	flex-grow: 2;
	display: flex;
}

.split-content-footer {
	height: 500px;
	flex-grow: 1;
}

.logo-footer {
	height: ;
}

.secondary-content-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	margin-block: 50px;
}

.logo-footer,
.btn-footer {
	height: 50px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
