/* # RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* # UTILS */
.container {
	margin: 0 auto;
	width: 1200px;
	max-width: 100%;
}

/* DEBUG */
.debug {
	background-color: #ddfcad;
	border: 1px dashed black;
}

.debug .debug {
	background-color: #c8e087;
}

.debug .debug .debug {
	background-color: #95a472;
}

.debug .debug .debug .debug {
	background-color: #82846d;
	color: white;
}

.debug .debug .debug .debug .debug {
	background-color: #646165;
}

.debug .debug .debug .debug .debug .debug {
	background-color: #454545;
}
.debug .debug .debug .debug .debug .debug .debug {
	background-color: #292929;
}

/* HEADER */
.header-box {
	display: flex;
	justify-content: space-between;
	margin-block: 20px;
}

nav > ul > li {
	display: inline-block;
}

nav > ul {
	text-align: center;
}

.login-box {
	text-align: end;
}

.logo-box,
.link-box,
.login-box {
	padding: 10px;
}

.link-box {
	flex-grow: 2;
}

.logo-box,
.login-box {
	flex-grow: 1;
}

/* HERO */
.hero-container {
	height: 400px;
	max-width: 900px;
	margin: auto;
	margin-block: 40px;
}
